.LoginBG{
    width: 100vw;
    height: 105vh;
    background: url('../../images/imageBG.jpg');
    background-size: cover;
    grid-column: 1/2;
    background-color: rgba(0, 0, 0, 0.349);
    background-blend-mode: multiply;
    background-attachment: fixed;
    position: absolute;

}
.Login-panel{
    background-color: var(--prim-color);
    width: 30vw;
    border: lpx solid grey;
    border-radius: 5px;
    margin: 25vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.Login-panel h1{
    width: 100%;
}
.Login-panel input{
    width: 70%;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin: 10px;
    padding-left: 5px;
}